nb-radio-group{
    display: flex;
} 
nb-checkbox{
    padding: 10px;
}
nb-select, .dpwidth{
    max-width: 100%!important;
    width: 500px;
}
.pad10{
    padding: 10px;
}
.align-right{
    float: right;
}