<nb-card *ngIf="showForm">
    <nb-card-header>Add User</nb-card-header>
    <nb-card-body>
      {{user | json}}
      <form name="userForm" #userForm="ngForm">
        <div class="row">
          <div class="col-sm-6 pad10 ">
              <label>Name</label>
              <input name="name" type="text" required [(ngModel)]="user.name" nbInput fullWidth placeholder="Full Name">
            </div>
            <div class="col-sm-6 pad10">
              <label>Gender</label>
              <nb-radio-group name="gender" [(ngModel)]="user.gender">
                <nb-radio [value]="'male'">
                 Male
                </nb-radio>
                <nb-radio [value]="'female'">
                  Female
                </nb-radio>
              </nb-radio-group>
            </div>
            <div class="col-sm-6 pad10"><label>Mobile Number</label>  
              <input name="phone" required [(ngModel)]="user.phone" type="text" nbInput fullWidth shape="rectangle" placeholder="Phone Number">
            </div>
            <div class="col-sm-6 pad10"> <label>Email</label> 
              <input name="email" required type="email" [(ngModel)]="user.email" nbInput fullWidth shape="rectangle" placeholder="Email">
            </div>
            <div class="col-sm-6 pad10">
              <label>Date of Birth</label>
                <input name="dob" nbInput fullwidth class="dpwidth" [(ngModel)]="user.dob"
                placeholder="Form Picker"
                [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker></nb-datepicker>
          </div>
          <div class="col-sm-6 pad10"> 
              <label>Passowrd</label>
               <input name="password" required [(ngModel)]="user.password" type="password" nbInput fullWidth shape="rectangle" placeholder="Passowrd">
          </div>
          <div class="col-sm-6 pad10"> 
            <label>User Role</label>
            <nb-select selected="1" name="role" required [(ngModel)]="user.role">
              <nb-option >Select Option</nb-option>
              <nb-option value="1">Option 1</nb-option>
              <nb-option value="2">Option 2</nb-option>
            </nb-select>
        </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="addUser(userForm.form)" nbButton [status]="'primary'">
        Add User
      </button>
    </nb-card-footer>
</nb-card>


<nb-card *ngIf="!showForm">
    <nb-card-header>
    Users <button (click)="showForm=true;" nbButton [status]="'primary'" class="align-right">Add New user</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table (custom)="customEvent($event);" [settings]="settings" [source]="users" (editConfirm)="editUser(event)" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

