<nb-card>
    <nb-card-header>Add User Role</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-6 pad10">
                <label>Role name</label>
            </div>
            <div class="col-sm-6 pad10">
                <input type="text"  nbInput fullWidth placeholder="Role Name">
            </div>
            <div class="col-sm-6 pad10">
                <label>Modules</label>
            </div>
            <div class="col-sm-6 pad10">
                <nb-select selected="1">
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
            </nb-select>
            </div>
            <div class="col-sm-6 pad10">
                <label>Permissions</label>
            </div>
            <div class="col-sm-6 demo-items pad10">
                <nb-checkbox [value]="true">Add</nb-checkbox>
                <nb-checkbox >Edit</nb-checkbox>
            </div>
        </div>
    </nb-card-body>
</nb-card>


<nb-card>
    <nb-card-header>
    User Roles
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="sources" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

