.ng-invalid.ng-touched{
    border-color: red;
}
.nb-theme-default nb-layout-header.fixed ~ .layout-container {
    padding-top: 2.75rem!important;
}
.nb-theme-default nb-layout-header nav {
    height: 2.75rem!important;
    
}