<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step label="Product">
        <nb-card>
          <nb-card-header>
            Product
          </nb-card-header>
          <nb-card-body class="row">
            <div class="col-sm-4 pad10">
              <label>Select Product</label></div>
            <div class="col-sm-4 pad10">
              <nb-select [(ngModel)]="lead.etype" placeholder="Select Product">
                <nb-option value="Credit Card">Credit Card</nb-option>
                <nb-option value="Home Loan">Home Loan</nb-option>
                <nb-option value="Personal Loan">Personal Loan</nb-option>
                <nb-option value="Business Loan">Business Loan</nb-option>
                <nb-option value="Mortage Loan">Mortage Loan</nb-option>
              </nb-select>
            </div>
          </nb-card-body>
        </nb-card>

        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton [status]="statuses[0]" class="flr" nbStepperNext>next</button>
      </nb-step>

      <nb-step label="Eligibility">
        <nb-card>
          <nb-card-header>Eligibility</nb-card-header>
          <nb-card-body>
            {{lead | json}}
            <form name="eligibilityForm" #userForm="ngForm">
              <div class="row">
                <div class="col-sm-4 pad10 ">
                  <label>Name(As per PAN)</label>
                  <input type="text" name="fname" required [(ngModel)]="lead.name" nbInput fullWidth
                    placeholder="Full Name">
                </div>
                <div class="col-sm-4 pad10">
                  <label>Gender</label>
                  <nb-radio-group name="gender" required [(ngModel)]="lead.gender">
                    <nb-radio [value]="'male'">
                      Male
                    </nb-radio>
                    <nb-radio [value]="'female'">
                      Female
                    </nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-sm-4 pad10">
                  <label>Mobile Number</label>
                  <input type="text" name="mobile" required [(ngModel)]="lead.mobile" nbInput fullWidth
                    shape="rectangle" placeholder="Mobile Number">
                </div>
                <div class="col-sm-4 pad10"> <label>Email</label>
                  <input type="text" name="email" required [(ngModel)]="lead.email" nbInput fullWidth shape="rectangle"
                    placeholder="Email">
                </div>
                <div class="col-sm-4 pad10">
                  <label>Date of Birth</label>
                  <input readonly name="dob" required [(ngModel)]="lead.dob" nbInput fullwidth class="dpwidth"
                    placeholder="Date Of Birth " [nbDatepicker]="formpicker">
                  <nb-datepicker #formpicker></nb-datepicker>
                </div>
                <div class="col-sm-4 pad10">
                  <label>Current Address</label>
                  <textarea rows="5" name="current_address" required [(ngModel)]="lead.meta.current_address" nbInput
                    fullWidth shape="round" placeholder="Complete Address"></textarea>
                </div>
                <div class="col-sm-4 pad10">
                  <label>Current City</label>
                  <nb-select name="current_location" required [(ngModel)]="lead.meta.current_location" selected="1">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10">
                  <label>Current Location Pincode</label>
                  <input type="text" name="picode" required [(ngModel)]="lead.zip" nbInput fullWidth
                    shape="rectangle" placeholder="Pincode"></div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype!='Business Loan'">
                  <label>Occupation</label>
                  <nb-select name="occupation" required [(ngModel)]="lead.occupation" placeholder="Occupation">
                    <nb-option value="Salaried">Salaried</nb-option>
                    <nb-option value="Self Employed">Self Employed</nb-option>
                    <nb-option value="Unemployed">Unemployed</nb-option>
                    <nb-option value="Retired">Retired</nb-option>
                    <nb-option value="Student">Student</nb-option>
                    <nb-option value="Home Maker">Home Maker</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Business Loan'">
                  <label>Business Type</label>
                  <nb-select name="business_type" required [(ngModel)]="lead.meta.business_type" placeholder="Business Type">
                    <nb-option value="Proprietorship">Proprietorship Company </nb-option>
                    <nb-option value="Private limited">Private limited Company</nb-option>
                    <nb-option value="Partnership">Partnership Company</nb-option>
                    <nb-option value="LLP">LLP</nb-option>
                    <nb-option value="Others">Others</nb-option>
                    <nb-option value="Not registered">Not registered</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.occupation=='Salaried'">
                  <label>Company Name</label>
                  <input type="text" name="company_name" required [(ngModel)]="lead.company" nbInput fullWidth
                    shape="rectangle" placeholder="Company Name" >
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.occupation=='Salaried'">
                  <label>Monthly Income</label>
                  <input type="text" name="monthly_income" required [(ngModel)]="lead.monthly" nbInput fullWidth
                    shape="rectangle" placeholder="Monthly Income" >
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.occupation=='Salaried'">
                  <label>I receive salary by</label>
                  <nb-select name="receive_salary" required [(ngModel)]="lead.receive_salary" selected="1"  placeholder="I receive salary by">
                    <nb-option value="Cash">Cash</nb-option>
                    <nb-option value="Cheque">Cheque</nb-option>
                    <nb-option value="Bank Transfer">Bank Transfer</nb-option>
                  </nb-select>
                </div>

                <div class="col-sm-4 pad10" *ngIf="lead.receive_salary=='Bank Transfer'">
                  <label>Bank Name</label>
                  <nb-select name="bank_name" required [(ngModel)]="lead.meta.bank_name" selected="1">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.occupation=='Self Employed' || lead.etype=='Business Loan' ">
                  <label>Latest Year Income after Tax</label>
                  <input type="text" name="yearly_income" required [(ngModel)]="lead.income" nbInput fullWidth
                    shape="rectangle" placeholder="Latest Year Income after Tax">
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.occupation=='Self Employed' || lead.etype=='Business Loan'">
                  <label>Current Account Bank Name</label>
                  <input type="text" name="acc_bank" required [(ngModel)]="lead.meta.cabank" nbInput fullWidth
                    shape="rectangle" placeholder="Current Account Bank">
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype!='Credit Card' || lead.etype=='Business Loan'">
                  <label>Are you Paying Monthly EMI</label>
                  <nb-radio-group name="emi" required [(ngModel)]="lead.cc">
                    <nb-radio [value]="'Yes'">
                      Yes
                    </nb-radio>
                    <nb-radio [value]="'No'">
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype!='Credit Card' && lead.cc=='Yes'" >
                  <label>Total EMIs you currently pay per month </label>
                  <input type="text" name="monthly_emi" required [(ngModel)]="lead.creditlimit" nbInput fullWidth
                    shape="rectangle" placeholder=" ">

                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype== 'Credit Card'">
                  <label>Do you have existing Credit Card</label>
                  <nb-radio-group name="cc" required [(ngModel)]="lead.cc">
                    <nb-radio [value]="'Yes'">
                      Yes
                    </nb-radio>
                    <nb-radio [value]="'No'">
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Credit Card' && lead.cc== 'Yes'">
                  <label>Bank Name</label>
                  <input type="text" name="cc_bank" required [(ngModel)]="lead.banks" nbInput fullWidth
                    shape="rectangle" placeholder="Bank Name">
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Credit Card' && lead.cc== 'Yes'">
                  <label>Highest Credit Limit</label>
                  <input type="text" name="credit_limit" required [(ngModel)]="lead.creditlimit" nbInput fullWidth
                    shape="rectangle" placeholder="Credit Limit">
                </div>

                <div class="col-sm-4 pad10">
                  <label>Prefered Language</label>
                  <nb-select name="language" required [(ngModel)]="lead.language" selected="1">
                    <nb-option value="English">English</nb-option>
                    <nb-option value="Tamil">Tamil</nb-option>
                    <nb-option value="others">Others</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.language== 'others'">
                  <label>Prefered Language</label>
                  <input type="text" name="other_language" required [(ngModel)]="lead.otherlanguage" nbInput fullWidth
                    shape="rectangle" placeholder="Prefered Language">
                </div>
              </div>
            </form>

          </nb-card-body>
          <!-- <nb-card-footer>
            <button nbStepperPrevious (click)="addLead(eligibilityForm.form)" type="submit" nbButton [status]="statuses[0]">
              Previous
            </button>
            <button nbStepperNext (click)="addLead(eligibilityForm.form)" type="submit" nbButton [status]="statuses[0]">
              Next
            </button>
          </nb-card-footer> -->
        </nb-card>
        <button nbButton [status]="statuses[2]" nbStepperNext>prev</button>
        <button nbButton [status]="statuses[0]" class="flr" nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Verification">
        <nb-card>
          <nb-card-header>Verification</nb-card-header>
          <nb-card-body>
            <form name="verificationForm" #userForm="ngForm">
              <div class="row">
                <div class="col-sm-4 pad10">
                  <label>Current Resident Type</label>
                  <nb-select selected="1" name="current_resident" required [(ngModel)]="lead.meta.current_resident">
                    <nb-option value="1">Owned</nb-option>
                    <nb-option value="2">Rented</nb-option>
                    <nb-option value="2">Paying Guest</nb-option>
                    <nb-option value="2">Hostel</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10">
                  <label>What proof you have for current address</label>
                  <div class="demo-items">
                    <nb-checkbox>Aadhar Card</nb-checkbox>
                    <nb-checkbox [value]="true">VoterID</nb-checkbox>
                    <nb-checkbox [value]="true">Passport</nb-checkbox>
                    <nb-checkbox [value]="true">Driving License</nb-checkbox>
                    <nb-checkbox [value]="true">Bank Statement</nb-checkbox>
                    <nb-checkbox [value]="true">Gas Bill</nb-checkbox>
                    <nb-checkbox [value]="true">Electricity Bill</nb-checkbox>
                    <nb-checkbox [value]="true">Post-Paid Mobile Bill</nb-checkbox>
                    <nb-checkbox [value]="true">Rental Agreement</nb-checkbox>
                  </div>
                </div>
                <div class="col-sm-4 pad10"><label>Do you have a PAN Card Copy</label>
                  <nb-radio-group name="pan" required [(ngModel)]="lead.meta.pan">
                    <nb-radio [value]="'Yes'">
                      Yes
                    </nb-radio>
                    <nb-radio [value]="'No'">
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.occupation=='Salaried'">
                  <label>Income proof</label>
                  <nb-select name="income_proof" required [(ngModel)]="lead.meta.income_proof">
                    <nb-option value="3 months payslip">3 months payslip</nb-option>
                    <nb-option value="Salary certificate ">Salary certificate </nb-option>
                    <nb-option value="Joining letter">Joining letter </nb-option>
                    <nb-option value="No Proof">No Proof </nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.occupation=='Self Employed'">
                  <label>Income proof</label>
                  <nb-select name="income_proof" required [(ngModel)]="lead.meta.income_proof">
                    <nb-option value="ITR">ITR</nb-option>
                    <nb-option value="GST ">GST </nb-option>
                    <nb-option value="No Proof">No Proof </nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10">
                  <label>Office Address</label>
                  <textarea rows="5" name="office_address" required [(ngModel)]="lead.meta.office_address" nbInput fullWidth
                    shape="round" placeholder="Text Area"></textarea>
                </div>
                <div class="col-sm-4 pad10">
                  <label>Office City</label>
                  <input type="text" name="off_city" required [(ngModel)]="lead.meta.off_city" nbInput fullWidth
                    shape="rectangle" placeholder="Office City">

                </div>
                <div class="col-sm-4 pad10">
                  <label>Office Pin Code</label>
                  <input type="text" name="off_pincode" required [(ngModel)]="lead.meta.off_pincode" nbInput fullWidth
                    shape="rectangle" placeholder="Office Pin Code">

                </div>
                <div class="col-sm-4 pad10">
                  <label>Official Email</label>
                  <input type="text" name="off_email" required [(ngModel)]="lead.meta.off_email" nbInput fullWidth
                    shape="rectangle" placeholder="Official Email">

                </div>
                <div class="col-sm-4 pad10">
                  <label>Address Proof for Office</label>
                  <nb-select selected="1" name="off_add_proof" required [(ngModel)]="lead.meta.off_add_proof">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.occupation=='Self Employed'">
                  <label>Business Stability</label>
                  <input type="text" name="bus_stab" required [(ngModel)]="lead.meta.bus_stab" nbInput fullWidth
                    shape="rectangle" placeholder="Business Stability">
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.occupation=='Salaried'">
                  <label>Overall Work Experience</label>
                  <input type="text" name="experience" required [(ngModel)]="lead.meta.experience" nbInput fullWidth
                    shape="rectangle" placeholder="Overall Work Experience">
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Credit Card' && lead.cc== 'Yes'">
                  <label>Do you have latest credit card statement </label>
                  <nb-radio-group name="cc_statement" required [(ngModel)]="lead.meta.cc_statement">
                    <nb-radio [value]="'Yes'">
                      Yes
                    </nb-radio>
                    <nb-radio [value]="'No'">
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>
              </div>
            </form>
          </nb-card-body>
          <!-- <nb-card-footer>
            <button nbStepperPrevious (click)="addLead(verificationForm.form)" type="submit" nbButton [status]="statuses[0]">
              Previous
            </button>
            <button nbStepperNext (click)="addLead(verificationForm.form)" type="submit" nbButton [status]="statuses[0]">
              Next
            </button>
          </nb-card-footer> -->
        </nb-card>
        <button nbButton [status]="statuses[2]" nbStepperPrevious>prev</button>
        <button nbButton [status]="statuses[0]" class="flr" nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour" *ngIf="lead.etype=='Home Loan' || lead.etype=='Mortage Loan'">
        <ng-template #labelFour>Property Details</ng-template>
        <nb-card>
          <nb-card-header>Property Details</nb-card-header>
          <nb-card-body>
            <form name="propertyForm" #userForm="ngForm">
              <div class="row">
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Mortage Loan'">
                  <label>Mortage Type</label>
                  <nb-select  name="mortage_type" required [(ngModel)]="lead.meta.mortage_type">
                    <nb-option value="Plot">Plot</nb-option>
                    <nb-option value="House">House</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Home Loan'">
                  <label>Purchase Type</label>
                  <nb-select  name="purchase_type" required [(ngModel)]="lead.meta.purchase_type">
                    <nb-option value="Plot">Plot</nb-option>
                    <nb-option value="Flat">Flat</nb-option>
                    <nb-option value="Plot Construction">Plot + Construction</nb-option>
                    <nb-option value="Built on Land I own">Built on Land I own</nb-option>
                    <nb-option value="Individual House">Individual House</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Home Loan' && lead.meta.purchase_type=='Individual House'">
                  <label>House Type</label>
                  <nb-select selected="1" name="house_type" required [(ngModel)]="lead.meta.house_type">
                    <nb-option value="1">New</nb-option>
                    <nb-option value="2">Resale</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.meta.mortage_type!='House'">
                  <label>Approval Status</label>
                  <nb-select selected="1" name="approval_status" required [(ngModel)]="lead.meta.approval_status">
                    <nb-option value="Plot">CMDA Approved</nb-option>
                    <nb-option value="House">DTCP Approved</nb-option>
                    <nb-option value="House">Patta available</nb-option>
                    <nb-option value="House">Unapproved</nb-option>
                  </nb-select>
                </div>
                
                <div class="col-sm-4 pad10" *ngIf="lead.meta.mortage_type=='House'">
                  <label>Do you have building plan approval</label>
                  <nb-radio-group name="build_approval" required [(ngModel)]="lead.metabuild_approval">
                    <nb-radio [value]="'Yes'">
                      Yes
                    </nb-radio>
                    <nb-radio [value]="'No'">
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.meta.purchase_type!='Flat' &&  lead.meta.purchase_type!='Individual House'">
                  <label>Land Size</label>
                  <input type="text" name="land_size" required [(ngModel)]="lead.meta.land_size" nbInput fullWidth
                    shape="rectangle" placeholder="Land size in Sq.ft">
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.meta.mortage_type!='Plot' && lead.meta.purchase_type!='Flat' &&  lead.meta.purchase_type!='Individual House' && lead.meta.purchase_type!='Plot'">
                  <label>Construction Size</label>
                  <input type="text" name="cons_size" required [(ngModel)]="lead.meta.cons_size" nbInput fullWidth
                    shape="rectangle" placeholder="Land size in Sq.ft">
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Home Loan' && lead.meta.mortage_type!='Plot' &&  lead.meta.purchase_type!='Individual House' && lead.meta.purchase_type!='Flat' && lead.meta.purchase_type!='Plot'">
                  <label>Construction Cost Estimation</label>
                  <input type="text" name="cons_estimate" required [(ngModel)]="lead.meta.cons_estimate" nbInput fullWidth
                    shape="rectangle" placeholder="Land size in Sq.ft">
                </div>
                <div class="col-sm-4 pad10" *ngIf=" lead.etype=='Home Loan' &&  lead.meta.purchase_type!='Individual House' && lead.meta.mortage_type!='Plot' && lead.meta.purchase_type!='Plot' && lead.meta.purchase_type!='Plot Construction' && lead.meta.purchase_type!='Built on Land I own'">
                  <label>Built up area </label>
                  <input type="text" name="build_area" required [(ngModel)]="lead.meta.build_area" nbInput fullWidth
                    shape="rectangle" placeholder="Land size in Sq.ft">
                </div>
                <div class="col-sm-4 pad10">
                  <label>Property Location</label>
                  <input type="text" name="property_location" required [(ngModel)]="lead.meta.property_location" nbInput
                    fullWidth shape="rectangle" placeholder="Land size in Sq.ft">

                </div>
                <div class="col-sm-4 pad10" *ngIf=" lead.meta.purchase_type!='Plot' &&  lead.meta.purchase_type!='Individual House' && lead.meta.purchase_type!='Flat' && lead.meta.purchase_type!='Built on Land I own'">
                  <label>Current Market Value</label>
                  <input type="text" name="market_value" required [(ngModel)]="lead.meta.market_value" nbInput fullWidth
                    shape="rectangle" placeholder="Land size in Sq.ft">
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Home Loan'&& lead.meta.purchase_type!='Built on Land I own' ">
                  <label>Purchase Rate</label>
                  <input type="text" name="purchase_rate" required [(ngModel)]="lead.meta.purchase_rate" nbInput fullWidth
                    shape="rectangle" placeholder="Land size in Sq.ft">
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Home Loan'&&  lead.meta.purchase_type!='Individual House' && lead.meta.purchase_type!='Plot' && lead.meta.purchase_type!='Flat' && lead.meta.purchase_type!='Individual House' ">
                  <label>Will you get Building Plan approval</label>
                  <nb-radio-group name="bla" required [(ngModel)]="lead.meta.bla">
                    <nb-radio [value]="'Yes'">
                      Yes
                    </nb-radio>
                    <nb-radio [value]="'No'">
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-sm-4 pad10" *ngIf="lead.etype=='Home Loan' && lead.meta.purchase_type!='Built on Land I own'">
                  <label>Have you Made advance payment</label>
                  <nb-radio-group name="advance_pay" required [(ngModel)]="lead.meta.advance_pay">
                    <nb-radio [value]="'Yes'">
                      Yes
                    </nb-radio>
                    <nb-radio [value]="'No'">
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>

              </div>
            </form>
          </nb-card-body>
          <!-- <nb-card-footer>
            <button (click)="addLead(propertyForm.form)" type="submit" nbButton [status]="statuses[0]">
              Next
            </button>
          </nb-card-footer> -->
        </nb-card>
        <button nbButton [status]="statuses[2]" nbStepperPrevious>prev</button>
        <button nbButton [status]="statuses[0]" class="flr" nbStepperNext>next</button>
      </nb-step>

      <nb-step [label]="labelFive">
        <ng-template #labelFive>KYC Completed</ng-template>
        <nb-card>
          <nb-card-header>KYC Completed</nb-card-header>
          <nb-card-body>
            <form name="kycForm" #userForm="ngForm">
              <div class="row">
                <div class="col-sm-4 pad10">
                  <label>Aadhar Card</label>
                  <input type="file" name="aadhar" required [(ngModel)]="lead.meta.aadhar" nbInput fullWidth
                    placeholder="Full Name">
                </div>
                <div class="col-sm-4 pad10">
                  <label>PAN Card</label>
                  <input type="file" name="pancard" required [(ngModel)]="lead.meta.pancard" nbInput fullWidth
                    placeholder="Full Name">
                </div>
                <div class="col-sm-4 pad10">
                  <label>Address Proof</label>
                  <input type="file" name="address_proof" required [(ngModel)]="lead.meta.address_proof" nbInput fullWidth
                    placeholder="Full Name"></div>
                <div class="col-sm-4 pad10">
                  <label>Income Proof</label>
                  <input type="file" name="income_proof" required [(ngModel)]="lead.meta.income_proof" nbInput fullWidth
                    placeholder="Full Name">
                </div>
                <div class="col-sm-4 pad10">
                  <label>ID Card</label>
                  <input type="file" name="id_proof" required [(ngModel)]="lead.meta.id_proof" nbInput fullWidth
                    placeholder="Full Name">
                </div>
                <div class="col-sm-4 pad10">
                  <label>Bank Statement</label>
                  <input type="file" name="bank_statement" required [(ngModel)]="lead.meta.bank_statement" nbInput fullWidth
                    placeholder="Full Name">
                </div>
                <div class="col-sm-4 pad10"  *ngIf="lead.etype=='Credit Card' && lead.cc== 'Yes'">
                  <label>Credit Card Statement</label>
                  <input type="file" name="cc_statement_att" required [(ngModel)]="lead.meta.cc_statement_att" nbInput
                    fullWidth placeholder="Full Name">
                </div>
              </div>
            </form>
          </nb-card-body>
          <!-- <nb-card-footer>
            <button (click)="addLead(kycForm.form)" type="submit" nbButton [status]="statuses[0]">
              Next
            </button>
          </nb-card-footer> -->
        </nb-card>
        <button nbButton [status]="statuses[2]" nbStepperPrevious>prev</button>
        <button nbButton [status]="statuses[0]" class="flr" nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelSix">
        <ng-template #labelSix>Offer Updated</ng-template>
        <nb-card>
          <nb-card-header>Offer Updated</nb-card-header>
          <nb-card-body>
            <form name="offerForm" #userForm="ngForm">
              <div class="row">
                <div class="col-sm-4 pad10">
                  <label>Bank Name</label>
                  <nb-select selected="1" name="offer_bank" required [(ngModel)]="lead.meta.offer_bank">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10"  *ngIf="lead.etype=='Credit Card'">
                  <label>Card Name</label>
                  <nb-select selected="1" name="offer_cc" required [(ngModel)]="lead.meta.offer_cc">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                  </nb-select>
                </div>
                <div class="col-sm-4 pad10"  *ngIf="lead.etype!='Credit Card'">
                  <label>Loan Amount Applied for</label>
                  <input type="text" name="laa" required [(ngModel)]="lead.meta.laa" nbInput fullWidth
                    placeholder="Full Name">
                </div>


                <div class="col-sm-4 pad10">
                  <label>Application Submitted to Bank</label>
                  <nb-radio-group name="app_sub_bank" required [(ngModel)]="lead.meta.app_sub_bank">
                    <nb-radio [value]="'Yes'">
                      Yes
                    </nb-radio>
                    <nb-radio [value]="'No'">
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>


                <div class="col-sm-4 pad10">
                  <label>Credit Score</label>

                  <input type="text" name="credit_score" required [(ngModel)]="lead.meta.credit_score" nbInput fullWidth
                    shape="rectangle" placeholder="Credit Score">
                </div>
                <div class="col-sm-4 pad10">
                  <label>AIP Pass</label>
                  <nb-radio-group name="aip_pass" required [(ngModel)]="lead.meta.aip_pass">
                    <nb-radio [value]="'Yes'">
                      Yes
                    </nb-radio>
                    <nb-radio [value]="'No'">
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>
              </div>
            </form>
          </nb-card-body>
          <!-- <nb-card-footer>
            <button (click)="addLead(offerForm.form)" type="submit" nbButton [status]="statuses[0]">
              Next
            </button>
          </nb-card-footer> -->
        </nb-card>
        <button nbButton [status]="statuses[2]" nbStepperPrevious>prev</button>
        <button nbButton [status]="statuses[0]" class="flr" disabled nbStepperNext>Submit</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>